/* Titolo */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 2% 3%;
    min-height: 100vh;
}

main h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

form{
    margin: 20px 0;
}

.desc{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.choose{
    margin: 3% 0 10px;
    font-family: 'Work Sans', sans-serif;
}

.data-book input{
    padding: 10px;
    font-size: 16px;
}

.slot{
    width: 400px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.slot div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}

.green{
    background-color: lawngreen;
}

.order select, .order input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    outline: none;
}


.red{
    background-color: red;
}

.error{
    color: red;
    font-family: 'Roboto', sans-serif;
}

.yellow{
    background-color: yellow;
    transition: background-color linear 0.3s;
}

.button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.multipleHours{
    width: auto;
    display: block;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .slot{
        width: 100%;
    }

    .slot div{
        width: auto;
    }
}
