/* Titolo */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "aside main"
;
}

.pageall{
    display: block;
}

main{
    grid-area: main;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

main h1{
    font-family: 'Rubik', sans-serif;
}

.add-admin{
    margin: 30px 0;
}

.add-admin h2, .db-admin h2{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 5px;
    font-size: 26px;
}

.add-admin p, .dsc{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.add-admin input[type=email]{
    padding: 10px;
    font-size: 18px;
    outline: none;
}

.error{
    font-family: 'Roboto', sans-serif;
    color: red;
    margin-top: 3px;
    font-size: 16px;
    display: block;
}

.add-admin input[type=submit]{
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.db{
    display: flex;
    flex-wrap: wrap;
}

.db .row{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 5px 0;
}

.row p, .row form{
    width: 20%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.row form input{
    background-color: white;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}