/*Titolo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Desc */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 3% 2%;
    height: 100vh;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

p{
    font-family: "Rubik", sans-serif;
}